@page "/"
@using System.Globalization
@using System.Text.Json;
@using System.Diagnostics;
@using SswApplication.CSharp.Source;
@using SswApplication.CSharp.Functions;
@using SswApplication.CSharp.Units;
@inject IJSRuntime JsRuntime

<h2>Source</h2>
<h3>Configuration</h3>

<div class="d-flex">

	<!-- Source -->
	<div class="border marge">
		<!-- Type -->
		<div class="marge">
			<label for="TypeSrc">@config.Type.Property</label>
			<select @bind="@config.Type.Value" @onclick="Type">
				<option value="CSP">Complex Source Point</option>
			</select>
		</div>

		<!-- Z s -->
		<div class="marge">
			<label for="Z_sSrc">Altitude z_s (@config.Z_s.Unit)</label>
			<input type="number" @bind="@config.Z_s.Value" id="Z_sSrc" placeholder="Z_s" @onfocusout="Zs" />
		</div>

		<!-- X s -->
		<div class="marge">
			<label for="X_sSrc">Distance x_s (@config.X_s.Unit)</label>
			<input type="number" @bind="@config.X_s.Value" id="X_sSrc" placeholder="X_s" @onfocusout="Xs" />
		</div>

		<!-- Width -->
		<div class="marge">
			<label for="W0Src">Width (lambda)</label>
			<input type="number" @bind="width" id="W0Src" placeholder="W0" @onfocusout="Width"/>
		</div>
	</div>

	<!-- All -->
	<div class="border marge">
		<!-- Frequency -->
		<div class="marge">
			<label for="FrequencySrc">@config.Frequency.Property (@config.Frequency.Unit)</label>
			<input type="number" @bind="@config.Frequency.Value" id="FrequencySrc" placeholder="Frequency" @onfocusout="Frequency" />
		</div>

		<!-- Lambda (Wavelength) -->
		<!-- not sure if finished -->
		<div class="marge">
			<label for="LambdaSrc"> Lambda (m) </label>
			<input type="number" @bind="lambda" id="LambdaSrc" placeholder="Lambda" @onfocusout="Lambda" />
		</div>

		<!-- N_z -->
		<div class="marge">
			<label for="N_zSrc">N z (pts)</label>
			<input type="number" @bind="@config.N_z.Value" id="N_zSrc" placeholder="N_z" @onfocusout="Nz" />
		</div>

		<!-- Z step // Delta z -->
		<div class="marge">
			<label for="Z_stepSrc">Delta z (@config.Z_step.Unit)</label>
			<input type="number" @bind="@config.Z_step.Value" id="Z_stepSrc" placeholder="Z_step" 
				@onfocusout="ZStep" />
		</div>

		<!-- Z max -->
		<div class="marge">
			<label for="Z_maxSrc">z max (m)</label>
			<input type="number" @bind="z_max" id="Z_maxSrc" placeholder="z_max"
					@onfocusout="ZMax" />
		</div>
	</div>
</div>
<div>
<button class="btn-primary" @onclick="DrawChart">Run Source</button>
</div>

@if (!string.IsNullOrEmpty(res))
{
	<div>
		<h5>Result</h5>
		<p class="border">@resultat</p>
	</div>
}

<div  id="canvSource">
	<canvas id="canvasSource"></canvas>
</div>